.body_custom {
    background-color: #212121;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

/* Estilos para el navbar */
.navbar-custom {
    background-color: rgba(19, 18, 18, 0.8);
    /* Cambia "red" al color rojo que desees */
    height: 100px;
    margin-top: 10px;
}

/* Estilos para el texto dentro del navbar */
.navbar-custom .navbar-text,
.navbar-custom .navbar-nav .nav-link {
    color: white;
    font-weight: 400;
    /* Centrar el texto */
}

.navbar-custom .navbar-toggler {
    border-color: white;
    /* Cambiar el color del borde del botón */
}

.navbar-custom .navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba%28255, 255, 255, 1%29" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
}

.button_custom {
    color: #ffffff;
}

.logo-container {
    width: 40px;
    /* Ajusta el tamaño del contenedor según sea necesario */
    height: 40px;
    /* Ajusta el tamaño del contenedor según sea necesario */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.logo {
    border-radius: 40px;
    height: 50px;
    width: 50px;
}

.logo:hover {
    transform: scale(1.2);
    /* Ajusta el valor para mayor o menor zoom */
}

.links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 17px;
    line-height: 2;
    padding: 10px;
    font-weight: 400;
    background-color: rgba(128, 128, 128, 0.4);
}


header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    font-size: 20px;
}

.perfil {
    display: flex;
    align-items: center;
    
    margin: 10px;
}

.name{
    display: flex;
    text-align: center;
    padding: 10px 0px 0px 20px;
}

.img_container {
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
}

.img_container img {
    position: absolute;
    top: 187%;
    left: 50%;
    width: 200px;
    /* Incrementa este valor para un mayor zoom */
    height: auto;
    transform: translate(-50%, -50%) scale(1.5);
    /* Ajusta el valor de scale según sea necesario */
    object-fit: cover;
}

.img_container:hover {
    transform: scale(1.4);
}

#section_yo {
    max-width: 800px;
    /* Establecer un ancho máximo */
    margin: 0 auto;
    /* Centrar la sección en la pantalla */
    padding: 20px;
    /* Añadir espacio interno */
    font-size: 15px;
    background-color: rgb(0, 0, 0, 0.3);
    /* color de fondo con transparencia */
    border-radius: 15px;
    margin-bottom: 10px;
}

.title_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 300;
    padding: 10px;
}

#paragraph_section {
    font-size: 20px;
    text-align: center;
    font-weight: lighter;
    line-height: 1.2
}

#section_Tecnologies {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    /* Establecer un ancho máximo */
    margin: 0 auto;
    /* Centrar la sección en la pantalla */
    padding: 20px;
    /* Añadir espacio interno */
    font-size: 15px;
    border-radius: 15px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    /* color de fondo con transparencia */
}

.card-container {
    display: flex;
    /* Convertir el contenedor en un contenedor flex */
}

.card1 {
    display: flex;
    justify-content: center;
    /* Alinea las tarjetas horizontalmente en el centro */
    align-items: center;
    /* Alinea los logos verticalmente en el centro */
    border-radius: 20px;
    padding-top: 10px;
    height: 200px;
    width: 200px;
    /* Ancho de cada tarjeta */
    margin: 30px;
    /* Espacio entre cada tarjeta */
    background-color: #ffffff;
}

.card1 img {
    filter: grayscale(100%);
    /* Aplicar escala de grises a todas las imágenes */
    transition: filter 0.6s ease;
    /* Agregar una transición suave */
}

.card1:hover img {
    filter: grayscale(0%);
    /* Eliminar la escala de grises al pasar el cursor sobre las imágenes */
}

img {
    height: 100px;
    width: 100px;
}

#logo_css {
    width: 160px;
}

#logo_js {
    width: 95px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    padding: 20px;
}

footer a{
    padding: 10px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

footer a:hover{
    font-weight: bold;
    background-color: black;
    box-shadow:  1px 2px 2px rgba(250, 0, 0, 0.8);
}
